body {
    color: #000000;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1 {
    color: #195921;
}

h2 {
    color: #4a4a4a;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.stButton>button {
    background-color: #195921;
    color: #ffffff;
    height: 60px;
    width: 60%;
    margin-left: 20%;
    margin-top: 40px;
}

/* Estilo para o preço sugerido */
.price-suggested {
    font-size: 24px; /* Aumentar o tamanho do texto */
    font-weight: bold; /* Colocar em negrito */
    background-color: #1ca44c; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px; /* Adicionar um espaçamento interno para destacar */
    border-radius: 5px; /* Adicionar bordas arredondadas */
}

/* Efeito de hover para o botão */
.stButton button:hover {
    background-color: #27642F;
    color: #D1F2D1;
}
